n8n_yt_research_agent.json
{
  "name": "json template for youtube research agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Niche Outliers",
        "formDescription": "Input 3 high quality channel URLs in your niche",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Channel 1",
              "placeholder": "https://www.youtube.com/@jasoncooperson",
              "requiredField": true
            },
            {
              "fieldLabel": "Channel 2",
              "placeholder": "https://www.youtube.com/@jasoncooperson",
              "requiredField": true
            },
            {
              "fieldLabel": "Channel 3",
              "placeholder": "https://www.youtube.com/@jasoncooperson",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1220,
        480
      ],
      "id": "a2fe0571-6458-416f-9e6a-a2855027e3f0",
      "name": "On form submission",
      "webhookId": "04baa499-4b3a-4ba3-9dd5-4cecb73864a9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20f6c922-f0d8-4b22-9fbe-200c0d239b4d",
              "name": "channels",
              "value": "=[\"{{ $json['Channel 1'] }}\",\"{{ $json['Channel 2'] }}\",\"{{ $json['Channel 3'] }}\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        480
      ],
      "id": "a7166004-eecc-472c-94f0-c3115a11c200",
      "name": "3 Channels"
    },
    {
      "parameters": {
        "fieldToSplitOut": "channels",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1540,
        480
      ],
      "id": "d0c69732-f0b5-475a-9373-d9fda50480d7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1740,
        400
      ],
      "id": "6d2bcff3-eecb-42ef-a85b-51c536a8b0e1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Title: {{ $json.title }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that acts as an expert YouTube strategist and title analyzer. Your task is to analyze YouTube video titles and identify the key “power words” or phrases that make the title compelling and clickable.\n\n## Your Goal\nExtract 1 to 3 power words or short phrases from the title that are likely contributing to its strong performance. Power words often signal a:\n- Big promise (e.g., \"10x\", \"guaranteed\", \"million-dollar\")\n- Ease or simplicity (e.g., \"in 5 minutes\", \"no code\", \"zero effort\")\n- Relatable challenge or desire (e.g., \"burnout\", \"quitting my job\", \"first $1000\")\n\nThese power words should stand out because they create curiosity, offer value, and appeal to the viewer’s emotions or goals.\n\n## Requirements\n- Do not rewrite the title.\n- Do not explain the full meaning of the title.\n- Just output the power words or chunks, each as a string in a list.\n- Focus on what would trigger a click from a human browsing YouTube."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2500,
        400
      ],
      "id": "24b682c0-dcdf-4830-9c7a-822ed3af09f6",
      "name": "Title Analyzer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2800,
        460
      ],
      "id": "00c36696-9e00-408e-8020-6d145a9e0c01",
      "name": "GPT 4.1-mini",
      "credentials": {
        "openRouterApi": {
          "id": "dHBwthW0oDTmkBTy",
          "name": "YouTube Research Agent API key"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3020,
        400
      ],
      "id": "ca44fc7c-aa8f-4369-9195-c5453a8b0c5d",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=# Overview\nYou are an expert in YouTube thumbnail strategy. Your task is to analyze a thumbnail image and identify **why it grabs attention** and encourages clicks.\n\n## Focus on:\n- What the viewer immediately sees or feel\n- The implicit promise or curiosity the image creates\n- What makes someone want to learn more or click\n- Be concise and keep your answer simple",
        "imageUrls": "={{ $('Channel Outliers').item.json.thumbnailUrl }}",
        "simplify": false,
        "options": {
          "detail": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2580,
        540
      ],
      "id": "6189d9ce-73fc-4e69-b25d-97e31372ce19",
      "name": "Analyze Thumbnails",
      "credentials": {
        "openAiApi": {
          "id": "R1okBuCEOniHqwpI",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f19a9cd-6201-41f6-ba7e-9e7fddb48e1e",
              "name": "channel",
              "value": "={{ $json.channelName }}",
              "type": "string"
            },
            {
              "id": "8f29f01f-fa89-4a6c-8ed9-9b216dd722a8",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "4a82add2-86aa-418b-a8dc-bbfb809f658e",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "c9f9b9a0-d960-4411-b5cc-b3c14f446f95",
              "name": "thumbnail",
              "value": "={{ $json.thumbnailUrl }}",
              "type": "string"
            },
            {
              "id": "43d1ad8f-f704-4cf6-84b0-9cad874c87d7",
              "name": "views",
              "value": "={{ $json.viewCount }}",
              "type": "number"
            },
            {
              "id": "282f8501-f8e7-46ed-9b53-4b6a57e312ca",
              "name": "likes",
              "value": "={{ $json.likes }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2580,
        260
      ],
      "id": "00ae51bf-fa33-4a1f-87e7-e2d0c16440e9",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "content": "# Phase 1) Niche Outliers",
        "height": 480,
        "width": 2400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        220
      ],
      "id": "9e69a980-9dd3-476a-b1d9-0e1ffdf9af31",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=# Overview\nYou are an expert in YouTube thumbnail strategy. Your task is to analyze a thumbnail image and identify **why it grabs attention** and encourages clicks.\n\n## Focus on:\n- What the viewer immediately sees or feel\n- The implicit promise or curiosity the image creates\n- What makes someone want to learn more or click\n- Be concise and keep your answer simple",
        "imageUrls": "={{ $('Scrape YT2').item.json.thumbnailUrl }}",
        "simplify": false,
        "options": {
          "detail": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2020,
        840
      ],
      "id": "236b9e2d-a483-4523-99cc-6c78919061bf",
      "name": "Analyze Thumbnails1",
      "credentials": {
        "openAiApi": {
          "id": "R1okBuCEOniHqwpI",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1680,
        960
      ],
      "id": "dde909c5-5f27-484b-8fce-829c32bbf2d3",
      "name": "GPT 4.1-mini1",
      "credentials": {
        "openRouterApi": {
          "id": "dHBwthW0oDTmkBTy",
          "name": "YouTube Research Agent API key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feeba2c9-c8f4-4f97-aeab-a5c3c7dc94ad",
              "name": "niche",
              "value": "YOUR_BROAD_NICHE_HERE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        840
      ],
      "id": "ab740a5c-7285-4958-933a-5a8058b66a83",
      "name": "Broad Niche"
    },
    {
      "parameters": {
        "content": "# Phase 2) Broad Niche Insights (Weekly)",
        "height": 380,
        "width": 1280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        720
      ],
      "id": "ea90ee96-78c0-43c6-acf3-778a32b8122f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"dateFilter\": \"week\",\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 5,\n    \"maxResultsShorts\": 0,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"searchQueries\": [\n        \"{{ $json.niche }}\"\n    ],\n    \"sortingOrder\": \"views\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        1240
      ],
      "id": "7ce5f470-abc9-446d-ae91-bfc754c9155b",
      "name": "Scrape YT1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=# Overview\nYou are an expert in YouTube thumbnail strategy. Your task is to analyze a thumbnail image and identify **why it grabs attention** and encourages clicks.\n\n## Focus on:\n- What the viewer immediately sees or feel\n- The implicit promise or curiosity the image creates\n- What makes someone want to learn more or click\n- Be concise and keep your answer simple",
        "imageUrls": "={{ $('Scrape YT1').item.json.thumbnailUrl }}",
        "simplify": false,
        "options": {
          "detail": "low"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2020,
        1240
      ],
      "id": "9d729788-ad9d-466f-a154-cce6ca1c6a0a",
      "name": "Analyze Thumbnails2",
      "credentials": {
        "openAiApi": {
          "id": "R1okBuCEOniHqwpI",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1660,
        1360
      ],
      "id": "b8ec8a63-84ee-404b-aa50-739065655d3a",
      "name": "GPT 4.1-mini2",
      "credentials": {
        "openRouterApi": {
          "id": "dHBwthW0oDTmkBTy",
          "name": "YouTube Research Agent API key"
        }
      }
    },
    {
      "parameters": {
        "content": "# Phase 3) Niche Insights (Daily)",
        "height": 380,
        "width": 1280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        1120
      ],
      "id": "09f5e536-4e1c-4d46-91d7-3b1160cf9a3f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feeba2c9-c8f4-4f97-aeab-a5c3c7dc94ad",
              "name": "niche",
              "value": "YOUR_NICHE_HERE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        1240
      ],
      "id": "5cd220de-2f76-42d6-8fe9-385d69f64c73",
      "name": "Niche"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1200,
        1240
      ],
      "id": "dc800c6f-58db-4e01-95b2-1c28c47b8cf9",
      "name": "6 am"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1200,
        840
      ],
      "id": "92f03051-5c18-4aa1-821f-f97d0d71f3c8",
      "name": "Sundays"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k",
          "mode": "list",
          "cachedResultName": "YouTube Strategist Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1836706523,
          "mode": "list",
          "cachedResultName": "Niche Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit#gid=1836706523"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Channel": "={{ $('Scrape YT1').item.json.channelName }}",
            "Title": "={{ $('Scrape YT1').item.json.title }}",
            "URL": "={{ $('Scrape YT1').item.json.url }}",
            "Thumbnail": "={{ $('Scrape YT1').item.json.thumbnailUrl }}",
            "Views": "={{ $('Scrape YT1').item.json.viewCount }}",
            "Likes": "={{ $('Scrape YT1').item.json.likes }}",
            "Power Words": "={{ $('Title Analyzer3').item.json.output }}",
            "Thumbnail Analysis": "={{ $json.choices[0].message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Channel",
              "displayName": "Channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail",
              "displayName": "Thumbnail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Power Words",
              "displayName": "Power Words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail Analysis",
              "displayName": "Thumbnail Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2200,
        1240
      ],
      "id": "8d5c56a3-6518-429f-9eda-9a248e7ef35b",
      "name": "Niche Daily",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A5s0Klg02MEF1stk",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9d530bf-3ca2-48c3-a40b-24f22646289d",
              "name": "Channel Details",
              "value": "=YOUR_CHANNEL_DESCRIPTION_HERE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2760,
        1240
      ],
      "id": "e07eb92f-6777-4c7f-8694-8486d727491b",
      "name": "Channel Description"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"youtube_strategist_output\",\n  \"description\": \"Generates three high-performing YouTube title and thumbnail ideas based on title trends, power words, and thumbnail analysis.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"title_1\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling YouTube video title idea tailored to the channel and based on provided patterns.\"\n    },\n    \"thumbnail_1\": {\n      \"type\": \"string\",\n      \"description\": \"A short visual description of the thumbnail concept that pairs with title_1.\"\n    },\n    \"title_2\": {\n      \"type\": \"string\",\n      \"description\": \"A second unique YouTube video title idea that fits the niche and follows successful patterns.\"\n    },\n    \"thumbnail_2\": {\n      \"type\": \"string\",\n      \"description\": \"A short visual description of the thumbnail concept that pairs with title_2.\"\n    },\n    \"title_3\": {\n      \"type\": \"string\",\n      \"description\": \"A third distinct YouTube video title idea optimized for the channel's audience and niche.\"\n    },\n    \"thumbnail_3\": {\n      \"type\": \"string\",\n      \"description\": \"A short visual description of the thumbnail concept that pairs with title_3.\"\n    }\n  },\n  \"required\": [\"title_1\", \"thumbnail_1\", \"title_2\", \"thumbnail_2\", \"title_3\", \"thumbnail_3\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3140,
        1340
      ],
      "id": "3b77487a-498c-4076-b81a-7d855773f7d3",
      "name": "Titles & Thumbs"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k",
          "mode": "list",
          "cachedResultName": "YouTube Strategist Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 288691584,
          "mode": "list",
          "cachedResultName": "Ideation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit#gid=288691584"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Title 1": "={{ $json.output.title_1 }}",
            "Thumbnail 1": "={{ $json.output.thumbnail_1 }}",
            "Title 2": "={{ $json.output.title_2 }}",
            "Thumbnail 2": "={{ $json.output.thumbnail_2 }}",
            "Title 3": "={{ $json.output.title_3 }}",
            "Thumbnail 3": "={{ $json.output.thumbnail_3 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title 1",
              "displayName": "Title 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail 1",
              "displayName": "Thumbnail 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title 2",
              "displayName": "Title 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail 2",
              "displayName": "Thumbnail 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title 3",
              "displayName": "Title 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail 3",
              "displayName": "Thumbnail 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3200,
        1240
      ],
      "id": "6a6610df-3dba-463f-95e5-b3d5489a95fd",
      "name": "Append Ideas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A5s0Klg02MEF1stk",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76d7e324-60bd-4b29-a85b-f62166af1f97",
              "name": "channel",
              "value": "https://www.youtube.com/@YOUR_CHANNEL_HERE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        840
      ],
      "id": "db882c72-9df3-4cca-954a-7e460d0116f0",
      "name": "Channel URL",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Titles:\n{{ $('Aggregate').item.json.Title.join(\"\\n\\n\") }}\n\nPower Words:\n{{ $('Aggregate').item.json['Power Words'].join(\"\\n\\n\") }}\n\nThumbnail Analysis:\n{{ $('Aggregate').item.json['Thumbnail Analysis'].join(\"\\n\\n\") }}\n\nThe Audience Wants These Things:\n{{ $('Comment Analysis').item.json['Do These Things'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are a top-tier YouTube strategist and content ideation expert. You help YouTube creators generate high-performing video ideas based on proven title patterns, power words, and thumbnail styles in their niche.\n\n## Your Task\nYou will be given:\n- Five existing YouTube titles from the same niche\n- A list of five power words or phrases commonly found in those titles\n- A summary of thumbnail analysis (what hooks, visual cues, or promises are working)\n- An analysis of what the audience wants to see more of\n\nYour goal is to generate three distinct video ideas for this channel. Each idea should include:\n- A compelling title that fits the niche and leverages the given power words and structural patterns\n- A thumbnail concept that aligns with the successful elements found in the analysis\n\nEach idea should be unique but rooted in the style, voice, and viewer intent relevant to the channel's audience.\n\n## Here is a description of the YouTube channel you work for\n{{ $json['Channel Details'] }}\n\n## Creative Guidelines:\n- Avoid rephrasing or reusing the titles provided.\n- Aim for **variety across the three ideas**: different angles, formats, or value propositions.\n- Ensure each title and thumbnail work together to trigger curiosity, highlight a transformation or insight, and align with the channel’s brand and audience.\n\n## Guidelines\n- Use language and visuals that would **grab attention, spark curiosity**, and clearly signal **value or a result**\n- Titles should be optimized for clicks, while still being relevant and authentic to the niche\n- Thumbnails should be described in terms of **what’s visually shown** and **why it works**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2900,
        1240
      ],
      "id": "725bc9a6-7d43-465a-92be-0b40cdafb0fd",
      "name": "Creative Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 5,\n    \"maxResultsShorts\": 0,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"sortVideosBy\": \"NEWEST\",\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.channel }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        840
      ],
      "id": "dded19d1-5112-47cc-881f-4e02c0274437",
      "name": "Scrape Channel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-comments-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"commentsSortBy\": \"1\",\n    \"maxComments\": 30,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.url }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2760,
        840
      ],
      "id": "c411c142-bf60-4c90-8681-973798319c28",
      "name": "Get Comments"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "comment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2900,
        840
      ],
      "id": "f5fef6fb-b1d9-4472-8779-23f3174b2d04",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Comments:\n{{ $json.comment.join(\"\\n\\n\") }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are a YouTube audience insights analyst. You will be given a collection of real YouTube comments on a specific channel.\n\n## Your Task\nAnalyze the comments and identify key audience patterns across three categories:\n\n1. **Things You're Doing Well**  \n   What do viewers consistently praise or respond positively to? Look for compliments, recurring appreciation, or mentions of what they found helpful, interesting, or enjoyable.\n\n2. **Things the Audience Doesn’t Like**  \n   Identify areas of criticism, confusion, or frustration. This includes anything the audience didn’t enjoy, found unclear, repetitive, boring, or overwhelming.\n\n3. **Things the Audience Is Looking For**  \n   Look for requests, questions, or desires for future content — anything viewers are hoping to see more of, learn next, or get clarification on.\n\n## Notes\n- Insights should be concise but specific.\n- Focus on patterns, not isolated comments.\n- Do not quote individual comments unless it helps summarize a recurring theme."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3040,
        840
      ],
      "id": "a8f2ea54-1090-4e55-9cfd-95abf5af7349",
      "name": "Comment Analyzer"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"youtube_comment_analysis\",\n  \"description\": \"Analyzes YouTube comments to identify what viewers like, dislike, and are asking for.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"doing_well\": {\n      \"type\": \"array\",\n      \"description\": \"A list of key things the channel is doing well, based on positive viewer feedback.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"audience_dislikes\": {\n      \"type\": \"array\",\n      \"description\": \"A list of recurring issues or criticisms mentioned by the audience.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"audience_requests\": {\n      \"type\": \"array\",\n      \"description\": \"A list of things viewers are asking for or want to see in future content.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"doing_well\", \"audience_dislikes\", \"audience_requests\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3260,
        940
      ],
      "id": "35193210-ea19-46ce-a5ac-0b20f6734e55",
      "name": "Insights"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k",
          "mode": "list",
          "cachedResultName": "YouTube Strategist Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1836706523,
          "mode": "list",
          "cachedResultName": "Niche Daily",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k/edit#gid=1836706523"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Date",
              "lookupValue": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2480,
        1240
      ],
      "id": "7904011e-21a6-4071-839e-3f657df6a966",
      "name": "Get High Performers",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A5s0Klg02MEF1stk",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Title"
            },
            {
              "fieldToAggregate": "Power Words"
            },
            {
              "fieldToAggregate": "Thumbnail Analysis"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2620,
        1240
      ],
      "id": "cffb18ca-90c0-4371-97f5-9a16eb8787e5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0943AQ1BUZ",
          "mode": "list",
          "cachedResultName": "research"
        },
        "text": "=Your Niche and Channel Audit for {{ $now.format('yyyy-MM-dd') }} is complete. \n\n<https://docs.google.com/spreadsheets/d/1b6e9arLmnC7dTVw9d8oTysnEszT1y1aUIohLFMKTL2A/edit?gid=288691584#gid=288691584|View the results and insights here> 👈",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3340,
        1240
      ],
      "id": "ed25bdd8-a0bb-4b27-801a-3ee427b3dfeb",
      "name": "Notification",
      "webhookId": "0d1bb128-308a-4ebb-a83e-f41c491c91d0",
      "credentials": {
        "slackOAuth2Api": {
          "id": "cWBOVHMxPA6wcA1f",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3000,
        940
      ],
      "id": "706fb0b3-5bfe-4a18-b099-b88c3dcd3561",
      "name": "GPT 4.1-mini3",
      "credentials": {
        "openRouterApi": {
          "id": "dHBwthW0oDTmkBTy",
          "name": "YouTube Research Agent API key"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2860,
        1340
      ],
      "id": "02ca1867-7120-4ff4-b5ea-76063b37dccf",
      "name": "GPT 4.1-mini4",
      "credentials": {
        "openRouterApi": {
          "id": "dHBwthW0oDTmkBTy",
          "name": "YouTube Research Agent API key"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k",
          "mode": "list",
          "cachedResultName": "YouTube Strategist Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 69853265,
          "mode": "list",
          "cachedResultName": "Comment Analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit#gid=69853265"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Good": "={{ $json.output.doing_well.join(\"\\n\\n\") }}",
            "Bad": "={{ $json.output.audience_dislikes.join(\"\\n\\n\") }}",
            "Do These Things": "={{ $json.output.audience_requests.join(\"\\n\\n\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Good",
              "displayName": "Good",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bad",
              "displayName": "Bad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Do These Things",
              "displayName": "Do These Things",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3340,
        840
      ],
      "id": "fbf38c41-56bb-4ca3-9c99-7b46a6a8f579",
      "name": "Comment Analysis",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A5s0Klg02MEF1stk",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "# Phase 4) Comment Analysis",
        "height": 380,
        "width": 1100,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        720
      ],
      "id": "17f74bc6-39dc-4962-bfbe-9a424c2a2763",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Phase 5) Ideation",
        "height": 380,
        "width": 1100,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        1120
      ],
      "id": "b22d3e45-97ea-4556-a63a-6c9cd3570a5d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 30,\n    \"maxResultsShorts\": 0,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"sortVideosBy\": \"POPULAR\",\n    \"sortingOrder\": \"views\",\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.channels }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        300
      ],
      "id": "c9c48806-e478-4642-9355-062a13d8ecc5",
      "name": "Channel Outliers"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "viewCount",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2140,
        300
      ],
      "id": "bfc8fae5-8669-48b6-badd-28782c107ef8",
      "name": "Sort1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "63026392-559e-4b21-be7d-224fea72c911",
              "leftValue": "={{ $json.date }}",
              "rightValue": "={{ DateTime.now().minus({ months: 6 }).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1940,
        500
      ],
      "id": "84b9f2b6-bd70-486d-8c1f-59672c105da6",
      "name": "Filter"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2140,
        500
      ],
      "id": "f5da491a-8c26-4864-b14c-4b31c0344e69",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k",
          "mode": "list",
          "cachedResultName": "YouTube Strategist Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Niche Outliers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Channel": "={{ $json.channel }}",
            "Title": "={{ $json.title }}",
            "URL": "={{ $json.url }}",
            "Thumbnail": "={{ $json.thumbnail }}",
            "Views": "={{ $json.views }}",
            "Likes": "={{ $json.likes }}",
            "Power Words": "={{ $json.output }}",
            "Thumbnail Analysis": "={{ $json.choices[0].message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Channel",
              "displayName": "Channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail",
              "displayName": "Thumbnail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Power Words",
              "displayName": "Power Words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail Analysis",
              "displayName": "Thumbnail Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3320,
        480
      ],
      "id": "b83aa46d-fc21-49f0-8e19-951bce154f9c",
      "name": "Niche Outliers Data1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HZkYhYHa2QzHcIYz",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k",
          "mode": "list",
          "cachedResultName": "YouTube Strategist Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NdEzcoi-QAVftxcNObN4SDYZ5rCZHI8C0sRvBqIUR7k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 817026250,
          "mode": "list",
          "cachedResultName": "Broad Niche Weekly",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18jdBRXleVhZiZvvEpzugGGznls_wUOOWENKJR8PeFMc/edit#gid=817026250"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Channel": "={{ $('Scrape YT2').item.json.channelName }}",
            "Title": "={{ $('Scrape YT2').item.json.title }}",
            "URL": "={{ $('Scrape YT2').item.json.url }}",
            "Thumbnail": "={{ $('Scrape YT2').item.json.thumbnailUrl }}",
            "Views": "={{ $('Scrape YT2').item.json.viewCount }}",
            "Likes": "={{ $('Scrape YT2').item.json.likes }}",
            "Power Words": "={{ $('Title Analyzer2').item.json.output }}",
            "Thumbnail Analysis": "={{ $json.choices[0].message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Channel",
              "displayName": "Channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail",
              "displayName": "Thumbnail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Power Words",
              "displayName": "Power Words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail Analysis",
              "displayName": "Thumbnail Analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2200,
        840
      ],
      "id": "acbc7d87-911c-4040-9988-e59dc3f5d119",
      "name": "Broad Niche Weekly1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A5s0Klg02MEF1stk",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"dateFilter\": \"week\",\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 5,\n    \"maxResultsShorts\": 0,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"searchQueries\": [\n        \"{{ $json.niche }}\"\n    ],\n    \"sortingOrder\": \"views\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        840
      ],
      "id": "de9cf756-5d76-4aab-a65e-b91d0c14db02",
      "name": "Scrape YT2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Title: {{ $json.title }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that acts as an expert YouTube strategist and title analyzer. Your task is to analyze YouTube video titles and identify the key “power words” or phrases that make the title compelling and clickable.\n\n## Your Goal\nExtract 1 to 3 power words or short phrases from the title that are likely contributing to its strong performance. Power words often signal a:\n- Big promise (e.g., \"10x\", \"guaranteed\", \"million-dollar\")\n- Ease or simplicity (e.g., \"in 5 minutes\", \"no code\", \"zero effort\")\n- Relatable challenge or desire (e.g., \"burnout\", \"quitting my job\", \"first $1000\")\n\nThese power words should stand out because they create curiosity, offer value, and appeal to the viewer’s emotions or goals.\n\n## Requirements\n- Do not rewrite the title.\n- Do not explain the full meaning of the title.\n- Just output the power words or chunks, each as a string in a list.\n- Focus on what would trigger a click from a human browsing YouTube."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1700,
        840
      ],
      "id": "97f1e2a6-e4a6-4fce-8576-7d15d7d69462",
      "name": "Title Analyzer2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Title: {{ $json.title }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that acts as an expert YouTube strategist and title analyzer. Your task is to analyze YouTube video titles and identify the key “power words” or phrases that make the title compelling and clickable.\n\n## Your Goal\nExtract 1 to 3 power words or short phrases from the title that are likely contributing to its strong performance. Power words often signal a:\n- Big promise (e.g., \"10x\", \"guaranteed\", \"million-dollar\")\n- Ease or simplicity (e.g., \"in 5 minutes\", \"no code\", \"zero effort\")\n- Relatable challenge or desire (e.g., \"burnout\", \"quitting my job\", \"first $1000\")\n\nThese power words should stand out because they create curiosity, offer value, and appeal to the viewer’s emotions or goals.\n\n## Requirements\n- Do not rewrite the title.\n- Do not explain the full meaning of the title.\n- Just output the power words or chunks, each as a string in a list.\n- Focus on what would trigger a click from a human browsing YouTube."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1700,
        1240
      ],
      "id": "dae94104-a087-4122-91e8-b0a115350b4f",
      "name": "Title Analyzer3"
    },
    {
      "parameters": {
        "content": "# ⚙️ Setup Guide  \n\nFollow these steps to configure your n8n workflow:\n\n### ✅ Step 1: Get Your [Apify](https://www.apify.com) API Key   \nPlug this API key into the **5 HTTP Request nodes** in your workflow. Once connected, your Apify setup is complete.\n\n### ✅ Step 2: Connect Your [OpenRouter](https://openrouter.ai/) & [OpenAI API](https://platform.openai.com/settings/organization/api-keys) Keys  \n- Get your OpenRouter API key, add billing info, and connect the credential in n8n.  \n- For image analysis, you also need to connect a **separate OpenAI credential**.\n\n### ✅ Step 3: Copy & Link the [Google Sheet Template](https://docs.google.com/spreadsheets/d/11Ng4qJuO_MEQgQ7Uqd7HbJ-w3Vi0mXtQEY7t0x0rOUM/edit?usp=sharing)  \nMake a copy in your Google account and rename the sheet to \"YouTube Strategist Data\" \nThen, connect it in all **Google Sheet nodes**.  \nEnsure you're linking the **correct sheet and tabs** for each node.\n\n### ✅ Step 4: Customize Triggers & Settings  \n- Set the **Schedule Triggers** to run at your desired intervals.  \n- Test the **Form Submission Trigger** on channels in your niche.  \n- Fill in your information in the **Set nodes**:\n  - **Phase II:** Broad Niche  \n  - **Phase III:** Specific Niche  \n  - **Phase IV:** Channel URL  \n  - **Phase V:** Channel Description  \n\n### 🧪 Final Step: Run Tests  \nOnce everything is linked, start testing to ensure all components fire correctly and data flows as expected.\n",
        "height": 740,
        "width": 840,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        220
      ],
      "id": "c38ffba2-83db-4869-9c63-16ce1ba7089e",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "3 Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 Channels": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Channel Outliers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title Analyzer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GPT 4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Title Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Niche Outliers Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Thumbnails": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Thumbnails1": {
      "main": [
        [
          {
            "node": "Broad Niche Weekly1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Title Analyzer2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Broad Niche": {
      "main": [
        [
          {
            "node": "Scrape YT2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape YT1": {
      "main": [
        [
          {
            "node": "Title Analyzer3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Thumbnails2": {
      "main": [
        [
          {
            "node": "Niche Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1-mini2": {
      "ai_languageModel": [
        [
          {
            "node": "Title Analyzer3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Niche": {
      "main": [
        [
          {
            "node": "Scrape YT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6 am": {
      "main": [
        [
          {
            "node": "Niche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sundays": {
      "main": [
        [
          {
            "node": "Broad Niche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Niche Daily": {
      "main": [
        [
          {
            "node": "Channel URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Description": {
      "main": [
        [
          {
            "node": "Creative Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Titles & Thumbs": {
      "ai_outputParser": [
        [
          {
            "node": "Creative Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Append Ideas": {
      "main": [
        [
          {
            "node": "Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel URL": {
      "main": [
        [
          {
            "node": "Scrape Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creative Agent": {
      "main": [
        [
          {
            "node": "Append Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Channel": {
      "main": [
        [
          {
            "node": "Get Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Comments": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Comment Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Analyzer": {
      "main": [
        [
          {
            "node": "Comment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insights": {
      "ai_outputParser": [
        [
          {
            "node": "Comment Analyzer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get High Performers": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Channel Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1-mini3": {
      "ai_languageModel": [
        [
          {
            "node": "Comment Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1-mini4": {
      "ai_languageModel": [
        [
          {
            "node": "Creative Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Comment Analysis": {
      "main": [
        [
          {
            "node": "Get High Performers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Outliers": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Title Analyzer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze Thumbnails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Niche Outliers Data1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape YT2": {
      "main": [
        [
          {
            "node": "Title Analyzer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title Analyzer2": {
      "main": [
        [
          {
            "node": "Analyze Thumbnails1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title Analyzer3": {
      "main": [
        [
          {
            "node": "Analyze Thumbnails2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7eec5070-0918-47ce-9f85-1e8d31aa9655",
  "meta": {
    "instanceId": "398183a1ce1f34edba2744961c9fd840899def67ed818a9bf84a589c92e67b97"
  },
  "id": "ihOfDlOLmzg2QIut",
  "tags": []
}